*{
    margin: 0;
    padding: 0;
    box-sizing: "border-box";
}
.body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #03a9f4;
    transition: 0.3s;
}
.container{
    position: relative;
    width: 800px;
    height: 400px;
    background-color: rgba(0,0,0,0.125);
    display: flex;
    justify-content: center;
    align-items: center;
}
.box{
    position: relative;
    width: 50%;
    height: 100%;
    z-index:10;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px;
}
.header{
    color: #fff;
    font-size: 1.2em;
    font-weight: 500;
    margin-bottom: 10px;
}
.button{
    padding: 10px 20px;
    background-color: #fff;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    color: #333;
}
.formWrapper{
    position: absolute;
    left: 50px;
    width: 350px;
    height: 480px;
    background-color: #fff;
    z-index: 100;
    box-shadow: 0 5px 25px rgba(0,0,0,0.15);
    transition: 0.5s;
    transition-delay: 0.2s;
    overflow: hidden;
}
.slide{
    background: #f43648;
}
.slide .formWrapper{
    left: 400px;
    
} 
.form{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
    background-color: #fff;
}
.signUpForm{
    top: 100%;
    transition-delay:0s;
}
.slide .formWrapper .form.signUpForm{
    top: 0;
    transition-delay: 1s;
}
.signInForm{
    top: 0;
    transition-delay: 1s;
}
.slide .formWrapper .form.signInForm{
    top: -100%;
    transition-delay: 0s;
}
form{
    display: flex;
    flex-direction: column;
    padding: 0 50px;
    width: 100%;
}
h3{
    font-size: 1.4em;
    color: #333;
    margin-bottom: 20px;
    font-weight: 600;
}
input{
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    outline: none;
    font-size: 0.8em;
    text-transform: uppercase;
    border: 1px solid #333;
    letter-spacing: 0.1em;
}
.formBtn{
    background-color: #03a9f4;
    border: none;
    color: #fff;
    width: 120px;
    height: 2em;
    cursor: pointer;
    font-size: 500;
    margin-bottom: 20px;
    
}

.forgot{
    text-decoration: underline;
    color: #333;
    font-size: 0.8em;
    letter-spacing: 0.05px;
}