*{
    margin: 0;
    padding: 0;
    box-sizing: "border-box";
}
.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #03a9f4;
    transition: 0.3s;
}
.container{
    position: relative;
    width: 800px;
    height: 400px;
    background-color: rgba(0,0,0,0.125);
    display: flex;
    justify-content: center;
    align-items: center;
}
.goBack{
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    padding:15px;
    background-color: #fff;
    font-size: 14px;
    color: #000;
    position: absolute;
    border-radius: 10px;
    top: 10%;
    left: 10%;
    cursor: pointer;
    transform: rotate(-90deg);
}
.box{
    position: relative;
    width: 50%;
    height: 100%;
    z-index:10;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px;
}
.header{
    color: #fff;
    font-size: 1.2em;
    font-weight: 500;
    margin-bottom: 10px;
}
.button{
    padding: 10px 20px;
    background-color: #fff;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    color: #333;
    border-radius: 10px;
}
.formWrapper{
    position: absolute;
    left: 50px;
    width: 350px;
    height: 480px;
    background-color: #fff;
    z-index: 100;
    box-shadow: 0 5px 25px rgba(0,0,0,0.15);
    transition: 0.5s;
    transition-delay: 0.2s;
    overflow: hidden;
}
.slide{
    background: #f43648;
}
.slide .formWrapper{
    left: 400px;
    
} 
.form{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
    background-color: #fff;
}
.signUpForm{
    top: 100%;
    transition-delay:0s;
}
.slide .formWrapper .form.signUpForm{
    top: 0;
    transition-delay: 1s;
}
.signInForm{
    top: 0;
    transition-delay: 1s;
}
.slide .formWrapper .form.signInForm{
    top: -100%;
    transition-delay: 0s;
}
form{
    display: flex;
    flex-direction: column;
    padding: 0 50px;
    width: 100%;
}
h3{
    font-size: 1.4em;
    color: #333;
    margin-bottom: 20px;
    font-weight: 600;
}
input{
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    outline: none;
    font-size: 0.8em;
    text-transform: uppercase;
    border: 1px solid #333;
    letter-spacing: 0.1em;
    border-radius: 10px;
}
.formBtn{
    background-color: #03a9f4;
    border: none;
    color: #fff;
    width: 120px;
    height: 2em;
    cursor: pointer;
    font-size: 500;
    margin-bottom: 20px;
    border-radius: 10px;
}

.forgot{
    text-decoration: underline;
    color: #333;
    font-size: 0.8em;
    letter-spacing: 0.05px;
}
.slide .forgot{
    display: none
}
.error{
    position: absolute;
    top: 85%;
    left: 0;
    padding: 0 50px;
    width: 100%;
    font-size: 12px;
    color: red;
}
.success{
    position: absolute;
    top: 85%;
    left: 0;
    padding: 0 50px;
    width: 100%;
    font-size: 12px;
    color: green;
}
.home{
    width: 100vw;
    min-height: 100vh;
}
.home__header{
    height: 10vh;
    display:flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.home__header__logo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    background-color: #03a9f4;
    height: 100%;
    font-size: 28px;
    color: #fff;
    font-weight: bold;
    letter-spacing: 1px;
    
}
.home__nav{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 70%;
    height: 100%;
    background-color: #03a9f4;;
}
.home__nav__link{
    transition: .3s ease-in-out;
    margin-right: 80px;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    padding: 20px;
    cursor: pointer;
}
.home__nav__link:hover{
    color:#f43648
}
.home__content{
        display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(3,169,244, 0.125);
    height: 90vh;
    width: 100%;
}
.home__content__conatiner{
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height: 100%;
}
.home__content__text{
    margin: 20px 40px;
    font-size: 32px;
    color: #000;    
}